@model MIS4200_Team_Project.Models.IndexViewModel

@{
    ViewBag.Title = "Welcome, FirstName";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>


                @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
                *@
                @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
               
                <dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                    @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@
<br />

<div class="row">
    <div class="col-md-2">


        <div class="panel panel-default" >
            <div align="center" class="panel-heading"><strong>Profile Picture</strong></div>
            <div class="panel-body">
                <center><img src="~/Images/Avatar.png" width="100" alt="Profile Picture" /></center>
                </div>
            </div>
            </div>
            <div class="col-md-5">

                <div class="panel panel-default">
                    <div align="center" class="panel-heading"><strong>Login Information</strong></div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Username:</dt>
                            <dd></dd>
                            <dt>Password:</dt>
                            <dd>
                                [
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                            </dd>
                            <dt>External Logins:</dt>
                            <dd>
                                @Model.Logins.Count [
                                @Html.ActionLink("Manage", "ManageLogins") ]
                            </dd>
                            </dl>                            
                            <br />
                    </div>
                </div>

                <br />

                <div class="panel panel-default">
                    <div align="center" class="panel-heading"><strong>User Details</strong></div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Email:</dt>
                            <dd></dd>
                            <dt>First Name:</dt>
                            <dd></dd>
                            <dt>Last Name:</dt>
                            <dd></dd>
                            <dt>Phone Number:</dt>
                            <dd></dd>
                            <dt>Business Unit:</dt>
                            <dd></dd>
                            <dt>Title:</dt>
                            <dd></dd>
                            <dt>Hire Date:</dt>
                            <dd></dd>
                         </dl>                         
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div align="center" class="panel-heading"><strong>Core Value Badges</strong></div>
                    <div class="panel-body">
                        Badges
                    </div>
                </div>
            </div>
</div>