@model IEnumerable<MIS4200_Team_Project.Models.CoreValueLeaderboard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    <!-- @Html.ActionLink("Create New", "Create")-->
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserDetails.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stewardship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Culture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery_Excellence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Innovation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Greater_Good)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Integrity_And_Openness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetails.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stewardship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Culture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery_Excellence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Innovation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Greater_Good)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Integrity_And_Openness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.ActionLink("Endorse", "Edit", new { id = item.leaderboardID }) |
               @Html.ActionLink("Details", "Details", "UserDetails", new {id = item.ID}, null)
                <!-- @Html.ActionLink("Delete", "Delete", new { id = item.ID })-->
            </td>
        </tr>
    }

</table>
