@model IEnumerable<MIS4200_Team_Project.Models.CoreValueLeaderboard>

@{
    ViewBag.Title = "Leaderboard";
}

<h2>Leaderboard</h2>


<!--  @Html.ActionLink("Create New", "Create") -->

<br /><br />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            @*@Html.DisplayNameFor(model => model.UserDetails.fullName)*@
        </th>
        <th>
            @Html.ActionLink("Stewardship", "Index", new { sortOrder = ViewBag.StewardshipSortParm })
            @*@Html.DisplayNameFor(model => model.Stewardship)*@
        </th>
        <th>
            @Html.ActionLink("Culture", "Index", new { sortOrder = ViewBag.CultureSortParm })
            @*@Html.DisplayNameFor(model => model.Culture)*@
        </th>
        <th>
            @Html.ActionLink("Delivery Excellence", "Index", new { sortOrder = ViewBag.DeliverySortParm })
            @*@Html.DisplayNameFor(model => model.Delivery_Excellence)*@
        </th>
        <th>
            @Html.ActionLink("Innovation", "Index", new { sortOrder = ViewBag.InnovationSortParm })
            @*@Html.DisplayNameFor(model => model.Innovation)*@
        </th>
        <th>
            @Html.ActionLink("Greater Good", "Index", new { sortOrder = ViewBag.GreaterSortParm })
            @*@Html.DisplayNameFor(model => model.Greater_Good)*@
        </th>
        <th>
            @Html.ActionLink("Integrity And Openness", "Index", new { sortOrder = ViewBag.IntegritySortParm })
            @*@Html.DisplayNameFor(model => model.Integrity_And_Openness)*@
        </th>
        <th>
            @Html.ActionLink("Balance", "Index", new { sortOrder = ViewBag.BalanceSortParm })
            @*@Html.DisplayNameFor(model => model.Balance)*@
        </th>
        <th>
            @Html.ActionLink("Total Points", "Index", new { sortOrder = ViewBag.TotalSortParm })
            @*@Html.DisplayNameFor(model => model.TotalPoints)*@
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetails.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stewardship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Culture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery_Excellence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Innovation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Greater_Good)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Integrity_And_Openness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPoints)
            </td>
            <td>
                @*@Html.ActionLink("Endorse", "Edit", new { id = item.leaderboardID }) |
                @Html.ActionLink("Details", "Details", "UserDetails", new { id = item.ID }, null)
                 @Html.ActionLink("Delete", "Delete", new { id = item.leaderboardID })*@
            </td>
        </tr>
    }

</table>

