@model MIS4200_Team_Project.Models.UserDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<br />

<div class="row">
    <div class="col-md-2">


        <div class="panel panel-default">
            <div align="center" class="panel-heading"><strong>Profile Picture</strong></div>
            <div class="panel-body">
                <center><img src="~/Images/Avatar.png" width="100" alt="Profile Picture" /></center>
            </div>
        </div>
    </div>
    <div class="col-md-5">      

        <div class="panel panel-default">
            <div align="center" class="panel-heading"><strong>User Details</strong></div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.firstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.firstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BusinessUnit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BusinessUnit)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.hireDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.hireDate)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>