@model MIS4200_Team_Project.Models.UserDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-2">


        <div class="panel panel-default">
            <div align="center" class="panel-heading"><strong>Profile Picture</strong></div>
            <div class="panel-body">
                <center>
                    <table>
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/")@Model.photo" width="125" />
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div align="center" class="panel-heading"><strong>User Details</strong></div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.firstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.firstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.birthDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.birthDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.startDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.startDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.JobTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.operatingGroups)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.operatingGroups)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.locations)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.locations)
                    </dd>

                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-default">
            <div align="center" class="panel-heading"><strong>Core Value Badges</strong></div>
            <div class="panel-body">
                <table border="1">
                    <tr>
                        <td>

                            @{

                                int intValueMin = 0; //Min Value
                                int intValueMax = 10; //Max Value
                                int intValueNow = 4; //Current Value FROM DATABASE

                                decimal decWidth = Convert.ToDecimal(intValueNow) / Convert.ToDecimal(intValueMax) * 100;

                                string strProgressText = Convert.ToString(intValueNow) + "/" + Convert.ToString(intValueMax);

                            }
                            <center>Stewardship</center>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                     aria-valuenow="@intValueNow" aria-valuemin="@intValueMin" aria-valuemax="@intValueMax" style="width:@decWidth%">
                                    @strProgressText
                                </div>
                            </div>
                        </td>

                        <td>
                            <center>Culture</center>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="@intValueNow" aria-valuemin="@intValueMin" aria-valuemax="@intValueMax" style="width:@decWidth%">
                                        @strProgressText
                                    </div>
                                </div>
                        </td>
                        <td>
                            <center>Delivery Excelence</center>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                     aria-valuenow="@intValueNow" aria-valuemin="@intValueMin" aria-valuemax="@intValueMax" style="width:@decWidth%">
                                    @strProgressText
                                </div>
                            </div>
                        </td>
                        <td>
                            <center>Innovation</center>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                     aria-valuenow="@intValueNow" aria-valuemin="@intValueMin" aria-valuemax="@intValueMax" style="width:@decWidth%">
                                    @strProgressText
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>Greater Good</center>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                     aria-valuenow="@intValueNow" aria-valuemin="@intValueMin" aria-valuemax="@intValueMax" style="width:@decWidth%">
                                    @strProgressText
                                </div>
                            </div>
                        </td>
                        <td>
                            <center> Integrity and Openness</center>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                     aria-valuenow="@intValueNow" aria-valuemin="@intValueMin" aria-valuemax="@intValueMax" style="width:@decWidth%">
                                    @strProgressText
                                </div>
                            </div>
                        </td>
                        <td>
                            <center>Balance</center>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                     aria-valuenow="@intValueNow" aria-valuemin="@intValueMin" aria-valuemax="@intValueMax" style="width:@decWidth%">
                                    @strProgressText
                                </div>
                            </div>
                        </td>
                        <td>
                            
                        </td>
                    </tr>


                </table>



            </div>
        </div>
    </div>
</div>
<p>



    <!-- @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) | -->


    @Html.ActionLink("Back to Directory", "Index")



</p>
